@import "../../style/global/variable";
.form-add-product {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  border: 3px solid $orange-dark;
  padding: 2rem;
  border-radius: 3rem;
  max-width: 47rem;
  width: 100%;
  margin: 0 auto;

  div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
      margin-right: 0.5rem;
    }

    input {
      padding: 0.5rem;
      border-radius: 1rem;
      margin-left: auto;
    }
  }
}
